html, body {
    height: 100%;
    margin: 0;
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.toprow {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: -7px;
}

#bookmarkDiv{
    margin-left: 26px;
}

.tag {
    font-size: 18px;
    color: #ccc;
    margin-left: -5px;
}

.urls {
    margin-left: 5px;
}


#logo {
    height: 100%;
    margin: 0 2px 3px 0;
}

.navbar-brand > img {
    display: inline-block;
}